<mat-toolbar color="primary">
  <h1>Critically Endangered animals</h1>
  <!--button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button-->
  <mat-menu menu="matMenu">
    <button mat-menu-item class="menu-button">Log out</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened role="region" class="menu-overflow-hidden">
    <!--mat-form-field class="search">
      <input matInput placeholder="Search animals">
    </mat-form-field-->
    <!--mat-divider></mat-divider>
    <ng-container *ngFor="let animals of animals | async; last as last">
      <mat-list>
        <h3 matSubheader>{{ animals.name }}</h3>

      </mat-list>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container-->


    <ng-container>

      <h3 class="primary-text-color center">Organizations That Help</h3>

      <a class="link secondary-text-color" href="https://www.worldwildlife.org/" target="_blank">World Wildlife Fund</a>

      <a class="link secondary-text-color" href="https://www.greenpeace.org/canada/en/" target="_blank">Greenpeace</a>

      <a class="link secondary-text-color" href="https://www.sierraclub.ca/" target="_blank">The Sierra Club</a>

      <a class="link secondary-text-color" href="https://davidsuzuki.org/" target="_blank">David Suzuki Foundation</a>

      <a class="link secondary-text-color" href="https://rhinos.org/" target="_blank">International Rhino Foundation</a>

      <a class="link secondary-text-color" href="https://cpaws.org/" target="_blank">Canadian Parks and Wilderness Society</a>

      <a class="link secondary-text-color" href="https://www.projectaware.org/" target="_blank">Project Aware</a>

      <a class="link secondary-text-color" href="https://www.janegoodall.org/" target="_blank">The Jane Goodall Institute</a>

      <a class="link secondary-text-color" href="https://www.panthera.org/" target="_blank">Pantera</a>

      <a class="link secondary-text-color" href="https://www.wcs.org/" target="_blank">The Wildlife Conservation Society</a>

      <a class="link secondary-text-color" href="https://www.iucn.org/" target="_blank">International Union for Conservation of Nature</a>

      <a class="link secondary-text-color" href="https://www.gorilladoctors.org/" target="_blank">Gorilla Doctors</a>

      <a class="link secondary-text-color" href="https://defenders.org/" target="_blank">Defenders of Wildlife</a>

      <a class="link secondary-text-color" href="https://www.audubon.org/" target="_blank">Audobon</a>

    </ng-container>





  </mat-sidenav>
  <mat-sidenav-content role="region">

    <mat-card *ngFor="let animals of animals | async">
      <mat-card-title>{{animals.name}}</mat-card-title>
      <img [srcset]="animals.photo">
      <mat-card-content>

        <dl class="myContent">
          <dt class="mat-small">Name</dt>
          <dd class="mat-body-2">{{ animals.name}}</dd>
          <dt class="mat-small">Scientific</dt>
          <dd class="mat-body-2">{{ animals.Scientific }}</dd>
          <dt class="mat-small">Status</dt>
          <dd class="mat-body-2">{{ animals.status }}</dd>
          <dt class="mat-small">Range</dt>
          <dd class="mat-body-2">{{ animals.Range }}</dd>
        </dl>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>


<footer class="mat-toolbar mat-primary mat-toolbar-single-row"></footer>
